.informationUser {
  width: 100%;
  border: 1px solid rgb(248, 133, 1);
  border-radius: 4px;
}

.headerContentInformationUser {
  background-color: rgb(248, 133, 1);
  width: 100%;
  padding-left: 15px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.bodyContentInformationUser {
  padding: 5%;
}

.nameContentInformationUser {
  color: rgb(248, 133, 1);
}

.imageInformationUser {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.imageContentInformationUser {
  margin-top: 100px;
  border-radius: 100%;
}

.addressTelEmail div {
  font-size: small;
  margin-bottom: 15px;
}

.callInformationUser {
  border: none;
  border-radius: 4px;
  height: 35px;
  width: 100%;
  color: white;
  font-size: small;
}

@media screen and (max-width: 1200px) {
  .addressTelEmail div {
    font-size: xx-small;
  }
}
@media screen and (max-width: 992px) {
  .addressTelEmail div {
    font-size: small;
  }
}

.getAllProduitUser {
  border: 1px solid rgb(248, 133, 1);
  border-radius: 4px;
  background-color: white;
  height: 35px;
  width: 100%;
  color: rgb(248, 133, 1);
  font-weight: bold;
}

.getAllProduitUser:hover {
  background-color: rgb(248, 133, 1);
  color: white;
}

.informationUser:hover {
  background-color: rgba(230, 230, 230, 0.082);
}
