.adminBtn{
    border: none;
    color: white;
    font-size: small;
    height: 35px;
    min-width: 125px;
    border-radius: 100px;
}

.userList td{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}