.containerListProduit {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.417);
  border-radius: 4px;
  padding: 1%;
  margin-bottom: 25px;
  cursor: pointer;
}

.containerListProduit:hover {
  background-color: rgba(235, 235, 235, 0.472);
}

.responiseListProduit {
  min-height: 220px;
}

.imgListProduit {
  object-fit: cover;
  height: 220px;
  width: 100%;
}

.produitNameListProduit {
  font-weight: bold;
  margin: 0;
}

.prixProduitListProduit {
  font-size: x-large;
  font-weight: bold;
  color: rgb(248, 133, 1);
  margin-bottom: 20px;
}

.statusListeProduit {
  width: 100%;
  height: 35px;
  text-align: center;
  padding-top: 8px;
  color: white;
  border-radius: 4px;
}

.statusListeProduitContainer {
  width: 85%;
  margin-left: 11%;
}

.informationProduitList {
  padding-left: 5%;
}
