.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
  
#logo{
    text-align: left; 
    min-width: 125px; 
    width:20%; 
}

#find{
    text-align: left; 
    min-width: 450px; 
    width:40%;
}

#serchLogin{
    min-width: 359px; 
    width:40%;
}

#btnFindContainer{
    margin-top: 40px;
}


#searchContainer{
    min-width: 300px; 
    width:65%; 
    background-color: rgb(247, 242, 242);
    height: 35px;
    border-radius: 100px;
    margin-top: 40px;
}

#loginContainer{
    position: absolute;
    top: 62px;
    right: 0;
}

#loginBtn{
    width: 125px;
}

#searchInput{ 
    min-width: 100px; 
    width:85%; 
}

#searchIcon {
    margin-left: 12px;
    margin-top: 2.4px;
    border-radius: 100%;
    text-align: center; 
    min-width: 20px;
    padding: 1.7%;
    padding-left: 3%;
    height: 30.5px;
    width:10%; 
    color:wheat;
    cursor: pointer;
}

#searchInputElement{
    width: 100%;
    height: 35px;
    border: none;
    background-color: transparent;
    padding-left: 5%;
}

header{
    background-color: rgb(28, 28, 28);
    width: 100%;
}

.name{
    font-size: large;
    min-width: 200px;
    text-align: left;
}

.username{
    font-size: medium;
    color: gray;
}

.itemProfil{
    font-size: medium;
    padding: 5%;
    padding-left: 15px;
    cursor: pointer;
}
.itemProfil:hover{
    background-color: rgb(255, 145, 0);
    color: white;
    border-radius: 4px;
}   