.link {
  font-size: 11px;
  margin-bottom: 4px;
}

#emailTextField {
  border: none;
  border-radius: 100px;
  height: 35px;
  min-width: 200px;
  padding-left: 20px;
  font-size: small;
  color: black;
  margin-bottom: 10px;
}

#footerContainer h3{
  font-size: large;
}

#footerContainer {
  background-color: rgb(28, 28, 28);
  color: rgb(212, 212, 212);
  padding-top: 30px;
  font-size: 11px;
}

.underline {
  width: 50px;
  margin-top: 7px;
  height: 3px;
  margin-bottom: 20px;
  background-color: rgb(212, 212, 212);
}

#end {
  background-color: rgb(9, 194, 24);
  width: 100%;
  height: 50px;
  text-align: center;
}

#copyright {
  font-size: x-small;
  padding-top: 15px;
}

@media screen and (max-width: 600px) {
  .link {
    font-size: medium;
  } 
  #footerContainer h3{
      font-size: 30px;
      text-decoration-line: underline;
      margin-bottom: 20px;
  }
  .underline{
      display: none;
  }
  #footerContainer div{
      text-align: center;
  }
}
