.listProduitManager {
  padding: 1%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
  margin-bottom: 15px;
  border-radius: 4px;
  width: 100%;
}

.rowContainerProduitManager{
  min-height: 140px;
}

.checkboxContainer{
  width: 23px;
}


.imgContainerListProduit {
  border-radius: 4px;
}

.imgListProduit {
  border-radius: 4px;
  width: 120px;
  height: 120px;
}

.closeInformation{
  position: absolute;
  right: -10px;
  top: -12px;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 1px;
  border-radius: 100%;
  color: white;
  font-size: small;
  background-color: black;
  border: 2px solid white;
  box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.185);
}

.listProduitManager:hover {
  background-color: rgba(231, 231, 231, 0.205);
  cursor: pointer;
}

.borderRight {
  border-right: 1px solid orange;
}

.nameProduitContentListProduit {
  font-size: large;
  color: black;
  font-weight: 600;
  height: auto;
}

.prixContentListProduit {
  font-size: large;
  color: orange;
  font-weight: 600;
  margin-top: -3px;
  height: auto;
}

.statusContainer{
  min-height: 20px;
}

.buttonViewListProduit {
  border: none;
  border-radius: 4px;
  color: rgba(0, 187, 0, 0.87);
  border: 1px solid rgba(0, 187, 0, 0.87);
  background-color: white;
  height: 35px;
  font-size: small;
  min-width: 130px;
  text-align: center;
  padding-top: 3px;
}

.buttonViewListProduit1 {
  
  border: none;
  border-radius: 4px;
  color: rgba(0, 187, 0, 0.87);
  border: 1px solid rgba(0, 187, 0, 0.87);
  background-color: white;
  height: 35px;
  font-size: small;
  min-width: 130px;
  text-align: center;
  padding-top: 3px;
}


.actionListProduit:hover {
  color: black;
}

.successListProduit {
  border: 1px solid rgba(0, 187, 0, 0.87);
  border-radius: 4px;
  color: rgba(0, 187, 0, 0.87);
  text-align: center;
  font-size: small;
  width: 70px;
}

.dangerListProduit {
  border: 1px solid rgba(253, 32, 32, 0.87);
  border-radius: 4px;
  color: rgba(253, 32, 32, 0.87);
  text-align: center;
  font-size: small;
  width: 80px;
}

.dateAjoutListProduit {
  font-size: small;
  color: rgb(158, 158, 158);
  margin-right: 15px;
}

.buttonViewListProduitContainer{
  z-index: 1;
}


.popperContainer .popperRight { 
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: left;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.479);
  z-index: 100;
  top: -148px;
  left: 146px;
}

.popperContainer .popperBottom {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: left;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.479);
  z-index: 100;
  left: -130px;
  top: 55px;
}

/* .popperContainer:hover .popperBottom {
  visibility: visible;
}

.popperContainer:hover .popperRight {
  visibility: visible;
} */

.hideInformation{
  visibility: hidden;
}

.popoverClick {
  height: 35px;
  width: 130px;
  padding: 4px;
}
.popoverClick1 {
  height: 35px;
  width: 130px;
  padding: 4px;
}

.caret-left {
  top: 156px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  right: 96.5%;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.246);
  -ms-transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.caret-top {
  left: 190px;
  top: -10px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(0, 187, 0);
  right: 96.5%;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.246);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* <div className="popperContainer"><div className="btnSimulation">Right</div>&nbsp;
                            <span className="popperRight"><div className="caret-left"></div>Tooltip text</span>
                        <span className="popperBottom"><div className="caret-top"></div>Tooltip text1</span>
                    </div> */

.informationContent {
  width: 100%;
}

.headerInformationContent {
  width: 100%;
  height: 35px;
  background-color: rgba(0, 187, 0);
  border-radius: 4px 4px 0 0;
  text-align: center;
  color: white;
  font-size: 15px;
  padding-top: 5px;
}

.bodyInformationContent {
  width: 100%;
  padding: 15px;
}

.nameProduitInInformationContent {
  font-size: medium;
  font-weight: 600;
}

.prixInformationContent {
  font-size: medium;
  color: orange;
  font-weight: 600;
}

.floatRight {
  justify-items: right;
  float: right;
  margin-bottom: 2px;
}

.successStatusInformation {
  height: 35px;
  text-align: center;
  background-color: rgba(0, 187, 0, 0.87);
  border-radius: 4px;
  color: white;
  font-size: small;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
}

.dangerStatusInformation{
  height: 35px;
  text-align: center;
  background-color: rgba(255, 46, 46, 0.87);
  border-radius: 4px;
  color: white;
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 7px;
}

.soliciteurInformation{
  margin-left: 3px;
  height: 35px;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  color: rgb(255, 59, 59);
  border: 1px solid rgb(255, 59, 59);
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 7px;
}

.dispoContainerInformationList{
  margin-top: 20px;
  width: 100%;
}

.dateDispoInformationListProduit{
  font-size: small;
  color: white;
  background-color: orange;
  text-align: center;
  border-radius: 100px;
  height: 23px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
