.tabBtn {
  border-radius: 4px 4px 0px 0px;
  height: 50px;
  font-size: small;
  font-weight: bold;
  padding-left: 2%;
  padding-right: 2%;
  border: none;
  background-color: transparent;
}

.tabContainer {
  position: relative;
}

.varTab {
  margin-top: -1px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  width: 100%;
  border-radius: 4px;
  padding: 1.5%;
}
