.btnDateStatus {
    font-size: small;
    color: white;
    border: none;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.expiredBtn{
    background-color: rgb(184, 184, 184);
}

.expiredBtn:hover{
    background-color: gray;
}

.sortInputProduitManager{
    width: 100%;
    border:1px solid orange;
    height: 35px;
    border-radius: 4px;
}

.labelSortProduitManager{
    font-size: small;
    font-weight: normal;
    margin-top: 8px;
    margin-left: 15px;
}

.selectInputProduitManager{
    width: 100%;
    margin-top: 8px;
    font-size: small;
    background-color: white;
    border: none;
}

.btnProduitManager{
    background-color: white;
    color: orange;
    border: 1px solid orange;
    height: 35px;
    min-width: 180px;
    border-radius: 4px;
    font-size: small;
}

.btnProduitManager:hover{
    background-color: orange;
    color: white;
}

.paginationContainer{
    margin-top: 60px;
    position: absolute;
}

.listCOntainerProduitManager{
    width: 100%;
    margin-top: 20px;
}

.underlineProduitManager{
    margin-top: 90px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}
