.titleHeaderParameter{
    margin: 0;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.parameterCompteContainer{
    margin-bottom: 40px;
}

.imgRonder{
    overflow: hidden;
    width: 103px;
    height: 103px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.btnShowPassword {
    position: absolute;
    right: 50px;
    margin-top: 32px;
    cursor: pointer;
    background-color: white;
    opacity: 0.5;
  }

  .bord-dash {
    border-style: dashed;
  }

  .bord-dash-gray {
    border-color: rgb(148, 148, 148);
  }

  .imgContainer {
      height: 150px;
      width: 150px;
      position: absolute;
  }

  .bgphoto{
      width: 100%;
      height: 100%;
      border-radius: 100%;
  }

  .imgDrop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .imageContent {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
    width: 140px;
    height: 140px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .deletePhoto{
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: large;
    background-color: rgba(192, 192, 192, 0.678);
    margin-right: -100px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: rgb(59, 59, 59);
    border-radius: 100%;
    padding-top: 2px;
  }

  .picContainer{
      position: relative;
      height: 150px;
      width: 140px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .imageContent {
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(231, 231, 231);
  }
  
  .imageContent:hover {
    background-color: rgb(200, 200, 200);
  }

  .simple{
      background-color: red;
      color: white;
      width: max-content;
      font-size: 0.7em;
      font-weight: bold;
      border-radius: 5px;
      height: 16px;
      padding: 0 3px;
  }

  .btnShowPassword:hover {
    opacity: 1;
  }

.headerContainerParameter{
    width: 100%;
    background-color: rgb(248, 133, 1);
    padding: 15px;
    border-radius: 4px 4px 0 0;
}

.bodyContainerParameter{
    padding: 15px;
    width: 100%;
    border-top: 1px solid transparent;
    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    border-left: 1px solid rgba(0, 0, 0, 0.274);
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.btn-paramter{
    border: none;
    border-radius: 4px;
    height: 35px;
    color: white;
    font-size: small;
    min-width: 100px;
}

.annulerBtnParameter{
    background-color: rgb(187, 187, 187);
}

.annulerBtnParameter:hover{
    background-color: gray;
}

.deleteAccounParameter{
    border: none;
    border-radius: 4px;
    color: orange;
    border: 1px solid orange;
    background-color: white;
    height: 35px;
    font-size: small;
    min-width: 200px;
}

.deleteAccounParameter:hover{
    background-color: orange;
    color: white;
}