.loginContent {
  width: 100%;
  max-width: 500px;
}

.headerLoginContent {
  text-align: center;
  margin-bottom: 40px;
}

.bodyLoginContent {
  border: 1px solid rgba(0, 0, 0, 0.287);
  border-radius: 4px;
  padding: 5%;
}

.bodyLoginContent:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.424);
}

.line {
  margin-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.424);
  margin-bottom: 30px;
}

.orLine {
  font-size: medium;
  margin-top: -14px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.errorContent {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.822);
  height: 35px;
  text-align: center;
  margin-bottom: 20px;
  font-size: small;
  padding: 8px;
  border-radius: 4px;
  color: white;
}
