.formContainer {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.226);
    padding: 5%;
    margin-bottom: 100px;
    border-radius: 4px;
}

.formContainer:hover{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.226);
}

