.registerContent {
  width: 100%;
  max-width: 500px;
}

.headerRegisterContent {
  text-align: center;
  margin-bottom: 40px;
}

.bodyRegisterContent {
  border: 1px solid rgba(0, 0, 0, 0.287);
  border-radius: 4px;
  padding: 5%;
}

.bodyRegisterContent:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.424);
}

.btnShowPassword {
  position: absolute;
  right: 40px;
  margin-top: 32px;
  cursor: pointer;
  background-color: white;
  opacity: 0.5;
}

.btnShowPassword:hover {
  opacity: 1;
}

.confirmationError{
  border: 1px solid rgb(255, 40, 40);
}
