.btn-pagination {
  border: none;
  background-color: transparent;
  min-width: 30px;
  min-height: 30px;
  padding: 0;
}

.borderRightPagination {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.borderRigthFirst{
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.paddingBtn{
  padding-left: 15%;
  padding-right: 15%;
}
