.ListProduitConatentFindProduct {
  min-height: 230px;
}

.myColFindProduct {
  height: 230px;
}

.listProduitContainerFindProduct {
  padding: 1.2%;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.198);
}

.listProduitContainerFindProduct:hover{
    background: rgba(223, 223, 223, 0.205);
    cursor: pointer;
}

.imgFindProduct {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.informtion1Container {
  height: 100%;
  width: 100%;
  padding-left: 50px;
}

.prixContentFindProduct{
    font-size: x-large;
    color: orange;
    font-weight: 500;
}

.imageContainer{
    height: 230px;
}

.datePostContainer{
    position: absolute;
    left: 50px;
    bottom: 0;
    font-size: small;
    color: rgb(175, 175, 175);
}

.information2{
    margin-bottom: 5px;
    font-size: small;
    font-weight: 500;
}

@media screen and (max-width: 982px)
 {
    .goDown{
        width: 100px
    }
 }