.my-card {
  position: relative;
  height: 275px;
  width: 100%;
  background-color: white;
  border-radius: 4px;
	margin-bottom: 100px;
	border: 1px solid rgba(0, 0, 0, 0.288)
}

.my-card:hover {
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.459);
	background-color: rgba(226, 226, 226, 0.822);
}

.imgContent {
  width: 100%;
  height: 70%;
}

.img {
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bodyContent {
  margin-top: 15px;
  text-align: center;
}

.priceContent {
  color: rgb(248, 133, 1);
  font-weight: bold;
  font-size: 16px;
}

.nameContent {
  font-size: small;
  font-weight: bold;
}
