#favoriheader{
    border-bottom: 2px solid rgb(139, 139, 139);
    width: 100%;
    height: 30px;
    width: 98%;
    margin-bottom: 30px;
    margin-left: 1%;
}

#favoriContent{
    margin-top: 40px;
    margin-bottom: -1px;
}

#cardFavori{
    margin-bottom: -110px;
}

.my-btn-favori {
    border: 1px solid rgb(104, 103, 103);
    font-size: 17;
    width: 35px;
    height: 35px;
    border-radius: 100px;
  }
  
  .my-btn-favori:hover{
      background-color: rgba(0, 0, 0, 0.144);
  }