body {
  margin: 0;
  padding: 0;
}

.grid-slide-inner {
  padding: 7px;
}

.gride-slide {
  width: 20%;
}

@media (max-width: 991px) {
  .gride-slide {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .gride-slide {
    width: 30%;
  }
}

@media (max-width: 575px) {
  .gride-slide {
    width: 48%;
  }
}
