#list_vendeurs {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(248, 133, 1);
  height: 630px;
  background-color: #ffffff;
  overflow: auto;
}

#carte {
  width: 100%;
}

#tilte_vendeur_list {
  margin-bottom: 3%;
  width: 100%;
  background-color: rgb(248, 133, 1);
  padding: 1.5%;
  padding-left: 4%;
  color: white;
  font-size: medium;
  font-weight: 600;
}

#content_vendeur {
  overflow: auto;
  background-color: rgb(255, 255, 255);
  padding-right: 5px;
}

#newAndFavoriAnnonc {
  margin-top: 40px;
  background-color: rgba(219, 219, 219, 0.431);
}

#nameRegion {
  position: absolute;
  top: 0;
  font-weight: bold;
  font-size: medium;
}

.loader {
  margin-left: -30px;
  margin-top: -25px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid rgb(12, 168, 25);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#favoriContainer {
  margin-bottom: 50px;
}

#newContainer {
  margin-top: -60px;
}
