#btnPrevNextContainer {
  margin-right: 1%;
}

.my-btn-new {
  border: 1px solid rgb(104, 103, 103);
  font-size: 17;
  width: 35px;
  height: 35px;
  border-radius: 100px;
}

.my-btn-new:hover{
    background-color: rgba(0, 0, 0, 0.144);
}


#section{
    margin-top: 100px;
    margin-bottom: -80px;
}

