.vendeurContainer {
  font-size: small;
  border-bottom: 1px solid rgba(0, 0, 0, 0.438);
  padding: 15px;
  cursor: pointer;
}
#vendeur {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.vendeurContainer:hover {
  background-color: rgb(223, 223, 223);
}

.vendeurContainer::after {
  content: "";
  clear: both;
  display: table;
}

.vendeurContainer img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  width: 100px;
  height: 60px;
  object-fit: cover;
}

#date {
  float: right;
  font-size: x-small;
  color: rgb(139, 139, 139);
}

#adresse {
  float: left;
}
