.carousel-cell {
  width: 100%;
  height: 500px;
  margin-right: 10px;
  background-color: rgba(184, 184, 184, 0.63);
  border-radius: 4px;
}

.nameProduit {
  margin: 0;
  padding: 0;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.status {
  height: 35px;
  width: 100%;
  border-radius: 4px;
  color: white;
  font-size: small;
  padding-top: 5%;
  text-align: center;
}

.success {
  background-color: rgb(0, 175, 0);
}

.danger {
  background-color: rgba(255, 39, 39, 0.87);
}

.warning {
  background-color: rgb(255, 208, 0);
}

.prix {
  font-size: x-large;
  color: rgb(248, 133, 1);
  font-weight: bold;
}

.datePosted{
  font-size: small;
  color: rgb(179, 179, 179);
}


.descriptionContainer{
  border: 1px solid rgba(0, 0, 0, 0.445);
  border-radius: 4px;
  padding: 2%;
}

.localisationContent{
  height: 300px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.479);
}

.otherAnnonceTitle{
  font-size: large;
  font-weight: bold;
  margin-top: 40px;
}