.headerCard {
  width: 100%;
  background-color: rgb(248, 133, 1);
  color: #ffffff;
  font-size: medium;
  font-weight: bold;
  padding: 2%;
  padding-left: 3%;
  border-radius: 4px 4px 0 0;
}

.cardContainer:hover {
  border-radius: 4px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.109);
}

.cardContainer {
  margin-bottom: 40px;
}

.bodyCard {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  border-left: 1px solid rgba(0, 0, 0, 0.308);
  border-right: 1px solid rgba(0, 0, 0, 0.308);
  padding: 3%;
  border-radius: 0 0 4px 4px;
}

.dropbtnAddAnnonce {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.308);
  cursor: pointer;
  width: 100%;
  text-align: left;
  height: 35px;
  border-radius: 4px;
}

.dropbtnAddAnnonce:hover {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.198);
}

.annoncePlacehoder {
  padding-top: 2px;
  font-size: small;
}

.prixAddAnnonceInput {
  width: 100%;
}

.unitePrixAddAnnnonce {
  position: absolute;
  font-weight: bold;
  right: 40px;
  margin-top: 5px;
  z-index: 100;
  font-size: medium;
  background-color: white;
  width: 20px;
}

.dateLabel {
  font-size: 13px;
  font-weight: lighter;
  margin-top: 5px;
}

.myInputAddAnnonce {
  width: 100%;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  padding-left: 5%;
  font-size: small;
}
.myInputAddAnnonce:hover,
.myInputAddAnnonce:focus {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.198);
}

@media screen and (max-width: 718px) {
  .dateLabel {
    margin-top: 0;
  }
}

.googleMapContainer {
  border: 1px solid rgba(0, 0, 0, 0.281);
  height: 300px;
  width: 100%;
}

#searchLocalisationContainer {
  height: 35px;
  margin-top: 2%;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px black;
}

.inputSearchLocalisation {
  width: 100%;
  height: 35px;
  font-size: small;
  border: none;
  background: transparent;
}

.imgContainer {
  position: relative;
  margin-bottom: 5px;
}

.iconLocalisation {
  height: 35px;
  margin-top: -1px;
  width: 102%;
  background-color: transparent;
  font-size: 20px;
}

.imgDrop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#iconSearchLocalisation {
  background-color: rgb(31, 31, 31);
  color: white;
  border-radius: 0 4px 4px 0;
}

.btnAddAnnonceContainer {
  width: 312px;
}

.annulerAddAnnonce {
  background-color: rgb(155, 155, 155);
}

.annulerAddAnnonce:hover {
  background-color: rgb(202, 202, 202);
}

.imageContent {
  position: absolute;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}

.imageContent:hover {
  background-color: rgb(200, 200, 200);
}

.bord-dash {
  border-style: dashed;
}

.bord-dash-orange {
  border-color: rgb(248, 133, 1);
}

.bord-dash-gray {
  border-color: rgb(148, 148, 148);
}

.deletePhotoContainer{
  position: absolute;
  z-index: 100;
}

.deletePhoto{
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: large;
  background-color: rgba(192, 192, 192, 0.678);
  margin-right: 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  color: rgb(59, 59, 59);
}

.deletePhoto:hover{
  border: 2px solid rgba(255, 0, 0, 0.582);
}

