.localisationContainer {
  background: rgb(214, 214, 214);
  width: 100%;
  position: relative;
}

.titleLocalisationTrouverProduit {
  margin: 0px;
  font-weight: 600;
  font-size: large;
  margin-bottom: 20px;
}

.listVendeurTrouverProduitContainer {
  width: 100%;
  height: 610px;
  border: 1px solid rgb(248, 133, 1);
  border-radius: 4px;
}

.listVendeurTrouverProduitTitle {
  width: 100%;
  background: rgb(248, 133, 1);
  padding: 10px;
}

.TitleListProduitElement {
  margin: 0px;
  font-weight: 600;
  font-size: large;
  color: white;
  margin-left: 10px;
}

.listVendeurTrouverProduitBody {
  padding: 2%;
}

.tileListProduitPropose {
  font-weight: 600;
}

.resultatPropose {
  font-size: medium;
  font-weight: normal;
}

.listProduitProposeContent {
  width: 100%;
}

.triInputProduitProposeContainer {
  float: right;
  height: 35px;
  min-width: 250px;
  border: 1px solid rgb(248, 133, 1);
  border-radius: 4px;
  padding-top: 4px;
  padding-left: 10px;
}