.titleLocalisationUserProduit {
  font-size: large;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
}

.localisationContentUserProduit {
  width: 100%;
  background-color: rgb(212, 212, 212);
  height: 500px;
}

.titleListUserProduit{
    color: rgba(0, 187, 0, 0.87);
    font-weight: bold;
    font-size: large;
}

.sortInputContainer{
    height: 35px;
    width: 250px;
    background-color: white;
    padding-top: 4px;
    padding-left: 10px;
    border: 1px solid rgb(248, 133, 1);
    border-radius: 4px;
}

.selectInputSort{
    font-size: small;
    width: 213px;
    border: none;
    background-color: transparent;
}

.paginationContainer{
  width: 100%;
}

@media screen and (max-width: 740px) {
  .sortInputContainer{
    margin-top: 35px;
  }
  .listProduitContainer{
    margin-top: 60px;
  }
}