#filter {
  background-color: rgb(255, 254, 254);
  border-radius: 4px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.678);
  margin-top: -50px;
}

.my-row {
  padding: 15px;
}
.mySelect {
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 35px;
  background-color: rgb(231, 231, 231);
  padding-left: 2.5%;
}

.my-col {
  padding: 10px;
}

#btnSearchContainer {
  width: 100%;
  text-align: center;
}

.my-btnfilter {
  border: none;
  border-radius: 100px;
  height: 35px;
  width: 230px;
  color: white;
  font-size: small;
}

.dropbtnFilter {
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  height: 35px;
  border-radius: 4px;
}
